:root {
  --primary-color: #fed001;
}

html {
  /*font-size: 62.5%;
  font-family: "Inter", sans-serif;
  font-weight: 400; */
  font: 400 62.5% "Inter", sans-serif;
}

p,
a {
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

.upper {
  text-transform: uppercase;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1.6rem 4.8rem;
  display: inline-block;
  color: inherit;
}

.wrapperContainer {
  padding-top: 1px;
}

.wrapperContainer-dark {
  background-color: #2a2a2a;
  color: #fafafa;
}

.wrapperContainer-light {
  background-color: #fafafa;
}

.wrapperContainer-dark2 {
  background-color: #003464;
  color: #fafafa;
}

.wrapperContainer-fixed {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: 127.6rem;
  margin: auto;
}

.section__title {
  padding: 7rem 0;
  text-align: center;
  margin: 0;
}

.section__btn {
  margin: 7rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  padding: 2rem 0;
}

.header__nav a {
  padding: 0.75em 1.15em;
  border: solid 1px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.header__nav ul {
  display: flex;
  gap: 0.6rem;
  list-style-type: none;
}

nav a {
  color: inherit;
}

.header__nav a:hover {
  background-color: black;
}

.wrapperContainer-hero {
  background-image: linear-gradient(white, rgb(255, 255, 85));
}

.heroBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
}

.hero__title {
  margin-bottom: 4rem;
}

.cursos {
  text-align: center;
}

.cursosContainer {
  text-align: left;
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.curso_card {
  /* border: 1px solid #949494;
  border-radius: 10px;
  overflow: hidden; */

  flex: 1;
  flex-direction: column;
  display: flex;
}

.curso_card h3 {
  font-size: 2.4rem;
}

.curso_card {
  font-size: 1.8rem;
  line-height: 1.5;
}

.curso_card img {
  display: block;
  width: 100%;
}

.cursos_card_content {
  padding: 1rem 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  border-top: transparent;
  flex: 1;
}

.escola {
  display: flex;
  gap: 7rem;
  padding-top: 6rem;
}

.escola__title {
  font-size: 3.2rem;
  margin-top: 2rem;
}

.escola p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.contatos_address {
  text-align: right;
  font: 400 1.8rem "Inter", sans-serif;
  padding: 3rem 0;
}

.footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 4.5rem;
}
